.hero{
    width: 100%;
    height: 30vh;
    margin-top: 20vh;
    background-image: url("/assets/2024_05_05_11_37_02_mn-nhn.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 4% 1.5%;
    p{
        color: white;
        font-size: 1.8em;
        font-weight: 400;
        span{
            color: rgb(38, 148, 245);
        }
    }
    .links{
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.services-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.service-card {
  flex: 0 0 calc(25% - 24px);
  background: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
  color: #001f8d;
  cursor: pointer;
}

.service-card:hover {
  background-image: linear-gradient(to top,rgb(91, 190, 243),rgb(4, 101, 204));
  h5,p{
    color: white;
  }
}

.service-card img {
  width: 70px;
  margin-bottom: 20px;
}

.service-card h5 {
  color: #0e1b3d;
  font-weight: bold;
  margin-bottom: 12px;
}

.service-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}
