.hero {
  width: 100%;
  height: 30vh;
  margin-top: 20vh;
  padding: 4% 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(https://hope-psy.org.sa/uploads/2024_05_05_11_37_28_almrkz-alaaalamy.png);
  .right {
    color: white;
    p {
      color: white;
      font-size: 1.8em;
      font-weight: 400;
      span {
        color: rgb(38, 148, 245);
      }
    }
    .links {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .left {
    width: 20vw;
    color: white;
    select {
      padding: 2%;
      color: gray;
      border: none;
      border-radius: 10px;
      width: 100%;
      option {
        color: black;
      }
    }
  }
}
.media {
  padding: 8vh 1%;
  background-image: url("/assets/OIP.webp");
  h4 {
    color: #0e1b3d;
    margin-right: 48%;
  }

  .btn-primary {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4168f2;
    border: none;

    &:hover {
      background: #001f8d;
    }
  }

  .news-slider-wrapper {
    position: relative;
    padding: 1%;
    width: 100%;
  }

  .news-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
  }

  .news-card-wrapper {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
  }

  .news-card {
    border-radius: 30px 0;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    height: 100%;
    width: 100%;
    padding: 0 0 3vh 0;

    &:hover img {
      transform: scale(1.1);
    }

    .image {
      height: 30vh;
      overflow: hidden;
    }
    img {
      object-fit: cover;
      width: 100%;
      transition: 0.5s;
    }

    .card-body {
      padding: 1.5rem;
    }

    h5 {
      color: #0e1b3d;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      font-size: 14px;
      color: #555;
      margin-bottom: 1.5rem;
      line-height: 1.6;
    }

    .btn-info {
      background: #4066fa;
      border: none;
      padding: 8px 24px;

      &:hover {
        background: #032b7a;
      }
    }
  }

  .but {
    margin-top: 5vh;
    text-align: center;
    height: 8vh;
    .btn {
      margin: auto;
      width: 165px;
      height: 90%;
      padding: 1% 0;
      background: #4168f2;
      color: white;
      &:hover {
        background: #001f8d;
      }
    }
  }

  .links {
    text-align: center;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    a {
      text-decoration: none;
      background-color: rgb(78, 151, 246);
      color: white;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      &:hover {
        background-color: rgb(7, 7, 135);
      }
    }
  }

  @media (max-width: 992px) {
    .news-card-wrapper {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }

  @media (max-width: 576px) {
    .news-card-wrapper {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
